@import "tailwindcss";

@font-face {
  font-family: 'Donau';
  src: url('../../public/fonts/donauFont.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  --primary: #0e4d49;
  --green-contrast: #3a4d4b;
  --background: #FBF4E9;
  --background-old: #FFEDCE;
  --foreground: #040606;
  --foreground-red: #910C00;
}

@theme inline {
  --color-angolo-green: var(--primary);
  --color-green-contrast: var(--green-contrast);
  --color-background: var(--background);
  --color-background-old: var(--background-old);
  --color-foreground: var(--foreground);
  --color-foreground-red: var(--foreground-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Donau', sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--transparent);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}