@import "tailwindcss";

@font-face {
  font-family: 'Donau';
  src: url('../../public/fonts/donauFont.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  --background: #FBF4E9;
  --background-old: #FFEDCE;
  --foreground: #040606;
  --foreground-red: #910C00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Donau', sans-serif;
}